/*font-family: 'Merriweather', serif;*/
header{
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #FFF;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("images/Banner Image.png");
    background-size: 100%;
    border-radius: 16px;
    background-repeat: no-repeat;
    
    height: 600px;
    
    margin: 50px 140px ;
    
}
header h4{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
    padding-top: 180px;
    filter: contrast(100%); 
}
header h2{
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}



/*discount-----*/
#discount{
    font-family:'Inter', sans-serif;
    text-align: center;
    width: 802.9px;
    height: 815px;
    background-image: url("images/New\ Year\ Photo.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0 20px;
    margin: 0 auto;
}
#discount h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 50px;
    
}
#discount h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;

   
}
#discount h4{
    color: #F00;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}


/*welcome------*/
#welcome{
    display: flex;
    
    justify-content: space-between;
    margin: 50px 140px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("images/Vectorrr.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding:40px 100px;
    border-radius: 16px;
    color: #FFF;
}
.welcomeText{
    padding: 30px;
}
.welcomeText h1{
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 0;
}
.welcomeText p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
}
.welcomeText button{
    background: none;
    border: none;
    outline: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


/*address----*/
#address{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    font-family:'Inter', sans-serif;
    margin:100px 140px;
    border-radius: 16px;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding: 100px;
    height: 400px;
}
.primaryColor{
    color: #F00;
}
#address button{
    color: #FFF;
    background-color: #F00;
    border: none;
    outline: none;
    padding: 16px 32px;
    border-radius: 8px;
}


/*bestOffers*/
#bestOffer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding:20px 120px;
}
.commingSoon{
    padding: 30px;
}
.commingSoon h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
}
.commingSoon h4{
    color: #F00;
    margin-bottom: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.commingSoon p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.circle{
    padding: 30px;
    border: 30px solid #F00;
    border-radius: 300px;
}
.t024{
    padding: 30px;
}
.t024 h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.t024 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px
}


/*best gifts*/
#bestGifts #gridc{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 0 35px;
    
}
#gridc img{
    width: 100%;
    transition:transform 0.3s ease;
}
#gridc img:hover{
    transform: scale(1.015);
}

#bestGifts{
    padding: 20px 120px;
}


/*subscribe*/
#Subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 50px 150px;
    padding: 100px 150px;
}
#Subscribe h2{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}
#Subscribe p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
}
input{
    width: 440px;
    height: 72px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 0;
    padding-right: 0;
    padding-left: 30px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-right: 0;
    outline: 0;
}
#Subscribe button{
    padding-block: 0;
    padding-inline: 0;
    padding-left: 0;
    margin-left: 0;
    width: 210px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    background-color: #F00;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    outline:0;
    

}