/*font-family: 'Merriweather', serif;*/
header{
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #FFF;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("images/Banner Image.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 1320px;
    margin: 50px auto ;
    
}
header h4{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
    padding-top: 180px;
    filter: contrast(100%); 
}
header h2{
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}



/*discount-----*/
#discount{
    font-family:'Inter', sans-serif;
    text-align: center;
    width: 802.9px;
    height: 815px;
    background-image: url("images/New\ Year\ Photo.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0 20px;
    margin: 0 auto;
}
#discount h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 50px;
    
}
#discount h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;

   
}
#discount h4{
    color: #F00;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}